<template>
  <el-form
    ref="ruleForm"
    :model="ruleForm"
    status-icon
    :rules="rules"
    label-width="120px"
    label-position="top"
    class="demo-ruleForm"
  >
    <el-form-item label="Nom d'utilisateur" prop="username">
      <el-input v-model="ruleForm.username" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Mot de passe" prop="pass">
      <el-input
        v-model="ruleForm.pass"
        type="password"
        autocomplete="off"
      ></el-input>
    </el-form-item>
    <el-form-item label="Confirmer le mot de passe" prop="checkPass">
      <el-input
        v-model="ruleForm.checkPass"
        type="password"
        autocomplete="off"
      ></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')"
        >Enregistrer</el-button
      >
      <el-button @click="resetForm('ruleForm')">Annuler</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
export default {
  data() {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Veuillez entrer le mot de passe'))
      } else {
        if (this.ruleForm.checkPass !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    const validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Veuillez entrer à nouveau le mot de passe'))
      } else if (value !== this.ruleForm.pass) {
        callback(new Error('Les deux entrées ne correspondent pas!'))
      } else {
        callback()
      }
    }
    return {
      ruleForm: {
        username: '',
        pass: '',
        checkPass: '',
      },
      rules: {
        username: [
          {
            required: true,
            message: "Merci de renseigner le nom d'utilisateur",
            trigger: 'blur',
          },
          {
            min: 4,
            message: "Le nom d'utilisateur doit contenir au moin 4 caractère",
            trigger: 'blur',
          },
        ],
        pass: [
          {
            required: true,
            message: 'Merci de renseigner un mot de passe valide',
            trigger: 'blur',
          },
          { validator: validatePass, trigger: 'blur' },
        ],
        checkPass: [
          {
            required: true,
            message: 'Merci de confirmer le mot de passe',
            trigger: 'blur',
          },
          { validator: validatePass2, trigger: 'blur' },
        ],
      },
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          // eslint-disable-next-line
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
  },
}
</script>
