<template>
  <el-row class="content">
    <el-col :span="16"><div>1</div></el-col>
    <el-col :span="8" class="login-panel">
      <div class="login-form">
        <h2>Se connecter</h2>
        <el-form ref="ruleForm" :model="user" status-icon label-position="top">
          <el-form-item label="Nom d'utilisateur" prop="username">
            <el-input v-model="user.username" autocomplete="off" />
          </el-form-item>
          <el-form-item label="Mot de passe" prop="password">
            <el-input
              v-model="user.password"
              type="password"
              autocomplete="off"
            />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')"
              >Connexion</el-button
            >
            <el-button @click="resetForm('ruleForm')">Réinitialiser</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      user: {
        username: '',
        password: '',
      },
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          this.$logger.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
  },
}
</script>

<style scoped>
.login-panel {
  background-color: #fff;
  min-height: calc(100vh - 61px);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
}
</style>
