<template>
  <div class="content">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Accueil</el-breadcrumb-item>
      <el-breadcrumb-item>Administration</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des utilisateurs</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row>
      <el-col :span="8" class="list-panel">
        <div class="actions-bar">
          <el-input v-model="filterUser" placeholder="Chercher un utilisateur">
            <i slot="prefix" class="el-input__icon el-icon-search"></i>
          </el-input>
          <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            @click="onAddUser"
          ></el-button>
        </div>
        <div
          v-for="i in 10"
          :key="i"
          class="user-summary"
          :class="{ active: i === isActive }"
          @click="isActive = i"
        >
          <div>
            <el-avatar icon="el-icon-user-solid" :size="60"></el-avatar>
            <div class="username">{{ user.username }}</div>
            <span class="user-role">{{ user.role }}</span>
          </div>
        </div>
      </el-col>
      <el-col :span="16">
        <div v-if="isActive === -1" class="summary-content white">
          <div class="actions-bar">
            <h2>Ajouter un utilisateur</h2>
            <el-button
              icon="el-icon-close"
              circle
              @click="isActive = null"
            ></el-button>
          </div>
          <div class="details">
            <user-form />
          </div>
        </div>
        <div v-else-if="isActive > 0" class="summary-content white">
          <div class="actions-bar">
            <h2>Détails utilisateur {{ isActive }}</h2>
            <el-button
              icon="el-icon-close"
              circle
              @click="isActive = null"
            ></el-button>
          </div>
          <div class="details">
            <h3>Activité de l'utilisateur</h3>
            <calendar-heatmap
              tooltip-unit="sessions"
              :values="[
                { date: '2020-1-1', count: 1 },
                { date: '2020-6-22', count: 6 },
              ]"
              :end-date="'2020-12-31'"
            />
          </div>
        </div>
        <div v-else class="summary-content">
          <div class="details">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              ullam impedit blanditiis dolores ipsa quae, quos itaque tenetur
              similique maiores reiciendis, harum laboriosam error, mollitia
              totam recusandae officia voluptatum repellendus.
            </p>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import 'vue-calendar-heatmap/dist/vue-calendar-heatmap.css'
import { CalendarHeatmap } from 'vue-calendar-heatmap/dist/vue-calendar-heatmap.common'
import UserForm from '../components/UserForm'

export default {
  components: { UserForm, CalendarHeatmap },
  data() {
    return {
      user: {
        username: 'Test User',
        role: 'admin',
      },
      isActive: null,
      filterUser: '',
    }
  },
  methods: {
    onAddUser() {
      this.isActive = -1
    },
  },
}
</script>

<style scoped>
.list-panel {
  background: #fff;
  height: calc(100vh - 108px);
  border-right: 1px solid #e4e4e4;
  overflow-y: scroll;
}

.active {
  background: #f2f2f2;
}

.el-breadcrumb {
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.actions-bar {
  padding: 0.75rem;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  height: 65px;
}

.actions-bar h2 {
  line-height: 40px;
  margin: 0;
  flex: auto;
}

.actions-bar button {
  margin-left: 1rem;
}

.user-summary {
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 1px 2px #f2f2f2;
}

.user-summary:hover {
  background-color: #f2f2f2;
}

.el-avatar {
  margin-bottom: 0.75rem;
}

.username {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.user-role {
  color: #888;
  font-size: 1rem;
}

.summary-content {
  height: calc(100vh - 108px);
  overflow-y: scroll;
}

.white {
  background: #fff;
}

.details {
  padding: 1rem;
}

.details h3 {
  margin-bottom: 1rem;
}
</style>
