<template>
  <el-container style="min-height: 100vh;">
    <!-- HEADER -->
    <el-header style="text-align: right; font-size: 12px;">
      <el-menu
        router
        :default-active="$route.path"
        class="el-menu-demo"
        mode="horizontal"
      >
        <el-menu-item index="/">Accueil</el-menu-item>
        <el-menu-item index="/legal">Informations légales</el-menu-item>
        <el-menu-item index="/login">Se Connecter</el-menu-item>
      </el-menu>
    </el-header>
    <!-- /HEADER -->
    <el-container>
      <!-- ASIDE -->
      <el-aside width="200px">
        <el-menu
          router
          :default-active="$route.path"
          background-color="#263238"
          text-color="#fff"
          active-text-color="#ffd04b"
        >
          <el-submenu index="/users">
            <template slot="title"
              ><i class="el-icon-s-cooperation"></i>Administration</template
            >
            <el-menu-item index="/users">Utilisateurs</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>
      <!-- /ASIDE -->
      <el-main>
        <Nuxt />
      </el-main>
    </el-container>
  </el-container>
</template>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar-track {
  background: #e4e4e4;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #888;
}

*::-webkit-scrollbar {
  width: 6px;
  background: #e4e4e4;
  display: none;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.content {
  background-color: #f2f2f2;
  min-height: calc(100vh - 61px);
}

h2 {
  margin-bottom: 2rem;
}

.el-menu.el-menu--horizontal {
  display: flex;
  justify-content: flex-end;
}

header.el-header {
  z-index: 1;
  box-shadow: 1px 1px 2px #f2f2f2;
}

.el-aside {
  background-color: #263238;
}

aside > .el-menu {
  border-right: solid 1px #263238;
}

.el-main {
  padding: 0;
}
</style>
